@use "sass:math";

$grid-column: 3;

.container {
  width:100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background: pink
}

.row {
  display:flex;
  flex-flow: row wrap;
}

// col classes
