.background-img-skills {
  user-select: none;
  -webkit-user-drag: none;
  background: url(../imgs/interactivePage/skillsPage/background-skills.png)
    no-repeat center center;
  background-position: center top;
  background-size: 100% 100%;
  /* background-size: contain; */
  width: 100%;
  height: 3000px;
  top: 1200px;
  position: absolute;
  z-index: 1;

  /* display: flex;
  justify-content: center; */
  /* align-items: center; */ /* <-- vertical align */
}
/*-----title-----*/
.skills-title-container {
  margin: 0px 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.skills-title {
  height: 80px;
  color: white;
  font-size: 30px;
  margin: 5px 1px;
  user-select: none;
  transition: transform 0.2s;
  font-family: "Erica One", cursive;
  /* font-family: "Modak", cursive; */
}
.skills-title:hover {
  transform: scale(1.5);
}
/*-----imgs-----*/
.skills-whale {
  height: 950px;
}
.animated-whales {
  position: absolute;
  right: 0;
  z-index: 2;
}
.waiting-state-right {
  position: absolute;
  right: -1000px;
}
.move-in-right {
  animation: moveInFromRight 2s ease-out;
}
@keyframes moveInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.skills-dolphin {
  height: 450px;
}
.animated-dolphins {
  left: -100%;
  z-index: 2;
  margin-top: 600px;
}
.waiting-state-left {
  position: absolute;
  left: -1000px;
}
.move-in-left {
  animation: moveInFromLeft 3s ease-out;
}
@keyframes moveInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.skills-hammersharks {
  /* margin-top: 100px; */
  z-index: 2;
  height: 750px;
  position: absolute;
  right: 0;
}
.waiting-state-shark {
  position: absolute;
  right: -1000px;
}
.move-in-shark {
  animation: moveInFromRight 4s ease-out;
}
@keyframes moveInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}