.background-img-skills {
  user-select: none;
  -webkit-user-drag: none;
  background: url(../imgs/interactivePage/skillsPage/background-skills-page.png)
    no-repeat center center;
  background-position: center top;
  background-size: 100% 100%;
  /* background-size: contain; */
  width: 100%;
  height: 3000px;
  top: 1200px;
  position: absolute;
  z-index: 1;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/*-----imgs-----*/
.skills-whale {
    /* top: 100px; */
  z-index: 2;
  height: 500px;
}

.animated-div {
  position: absolute;
  right: 0;
  z-index: 2;
}

.move-in {
  animation: moveInFromRight 2s ease-out;
}

@keyframes moveInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
