* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.nav-text {
  color: white;
  padding-left: 30px;
}
.project {
  color: rgb(9, 9, 39);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.skill-btn {
  background-color: rgb(200, 229, 255);
  border: none;
  padding: 3px;
  margin-right: 5px;
}

.container {
  height: 100%;
  padding: 0;
}
html,
body {
  height: 100%;
}
.content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.home {
  background-image: url("imgs/matrix-356024.jpeg");
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 45px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
}
