* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  /* cursor: none; */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 15px 15px 0;
  /* height: 50px ; */
  background-color: rgb(0, 0, 0);
  color: white;
}
.nav-text {
  color: white;
  padding-left: 30px;
  text-decoration: none;
}
.nav-text:hover {
  color: greenyellow;
}

.project {
  color: rgb(9, 9, 39);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.skill-btn {
  background-color: rgb(200, 229, 255);
  border: none;
  padding: 3px;
  margin-right: 5px;
}

html,
body {
  height: 100%;
}
.container {
  height: 100%;
  padding: 0;
}

.content {
  height: 100%;
  width: 100%;
  margin-bottom: calc(100px - 50px);
}
.home {
  background-image: url("imgs/matrix-356024.jpeg");
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 45px;
}

.about {
  margin: 0px 0px 0px 10px;
  min-height: 100vh;
}
.about-intro {
  margin: 0px 0px 10px 0px;
  max-width: 1000px;
}
.about-top-title {
  margin: 62px 0px 0px 0px;
}
.about-title {
  margin: 15px 0px 6px 0px;
}
.about-ed {
  /* display:flex;
  flex-direction: row; */
}
.about-date {
  /* order:2; */
  margin: 0px 0px 0px 0px;
}
.about-school {
  margin: 0px 0px 0px 0px;
}
.about-degree {
  margin: 0px 0px 0px 0px;
}
.about-desc {
  margin: 2px 0px 10px 0px;
  max-width: 1000px;
}
.about-ex-title {
  margin: 6px 0px 0px 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
}

